
/* style up the tooltips content */
.charlab {
	color : white;
	margin: 0;
}
.date {
	color: #5AF;
	margin: 0;
	font-size: 10px;
	line-height: 12px;
}
.label {
	text-align: center;
}

